.bottom-ui-wrapper{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.text-container-npc{
	color: #000;
	font-size: 20px;
	font-weight: 500;
	line-height: 130%;
	text-align: left;
	width: 180px;
	height: auto;
	background: #fff;
	padding: 16px 20px;
	border-radius: 25px;
	transform-origin: center;
    &.big{
        width: 240px;
    }
}

.badge-npc-name{
    display: flex;
    justify-content: center;
    min-width: 120px;
    border: 2px solid #fff;
    background: rgb(246, 230, 0);
    color: #333;
    padding: 0.6rem 0.8rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 14px;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.ui-stage-1{
    padding: 20px;
    .box-example-wrapper{
        padding: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #da01d3b5;
        .box-example-grid{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            .box-example{
                grid-column: span 1;
                border: 1px solid #b1039d;
                &.active{
                    background: #bc02a6;
                }
            }
        }
    }
}

.info-wrapper{
    padding: 1rem 1.4rem;
    color: #fff;
    background: rgba(0,0,0,0.8);
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
}