.text-container{
	color: #000;
	font-size: 18px;
	font-weight: 500;
	line-height: 130%;
	position: absolute;
	z-index: 1;
	top: 30%;
	left: max(7.8125vw , 20px);
	text-align: left;
	width: 300px;
	min-height: 4rem;
	height: auto;
	background: #fff;
	padding: 20px;
	border-radius: 25px;
	transform-origin: center;
}