.text-container{
	color: #000;
	font-size: 20px;
	font-weight: 500;
	line-height: 130%;
	position: absolute;
	z-index: 1;
	top: 30%;
	left: max(7.8125vw , 20px);
	text-align: left;
	width: 300px;
	min-height: 4rem;
	height: auto;
	background: #fff;
	padding: 20px;
	border-radius: 25px;
	transform-origin: center;
}

.text-container__buttons{
	display: flex;
	margin-top: 1.8rem;
	button{
		font-size: 16px;
		font-weight: 700;
		flex: 1;
		background: rgb(167, 167, 167);
		padding: 12px 12px;
		border-radius: 4px;
		cursor: pointer;
		&:not(:last-of-type){
			margin-right: 0.5rem;
		}
		&:hover{
			transition: 300ms ease-in-out;
			background: rgb(149, 149, 149);
		}
	}
}

.ui-btns{
	position: fixed;
	right: 30%;
	bottom: 20px;
	z-index: 2;
	display: none;
	opacity: 0;
	&.active{
		display: flex;
		opacity: 1;
		transition: 0.3s opacity;
	}
	.arrow .btn{
		display: block;
		width: 60px;
		height: 60px;
		padding: 10px;
		font-size: 16px;
		font-weight: 500;
		line-height: 130%;
		margin-bottom: 10px;
		background-color: crimson;
		color: white;
		cursor: pointer;
		border-radius: 15px;
		/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
		transition: 300ms ease-in-out;
		opacity: 0.8;
		&:hover{
			transform: scale(1.05);
			transition: 300ms ease-in-out;
			opacity: 1;
		}
		&.up{
			img{
				object-fit: cover;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		&.down{
			img{
				transform: rotateX(180deg);
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.jump{
		width: 120px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 12px;
		border-radius: 15px;
		background: crimson;
		color: white;
		margin-left: 20px;
		font-size: 20px;
		font-weight: 500;
		line-height: 130%;
		cursor: pointer;
		opacity: 0.8;
		transition: 300ms ease-in-out;
		&:hover{
			opacity: 1;
			transform: scale(1.05);
			transition: 300ms ease-in-out;
		}
	}	
}

.custom-container{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 400px;
	height: 100dvh;
	padding: 20px;
	.custom-panel-wrapper{
		background: #fff;
		width: 400px;
		height: 100%;
		border-radius: 25px;
		padding: 20px 20px 32px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h5{
			font-size: 24px;
			font-weight: 600;
		}
		.custom-list{
			margin-top: 36px;
			h3{
				font-size: 18px;
				font-weight: 600;
			}
			ul{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin-top: 12px;
				gap: 0.5rem;
				li{
					cursor: pointer;
					width: 100px;
					height: 100px;
					// border: 1px solid #333;
					border-radius: 8px;
					background: #c2c2c2;
					transition: 300ms ease-in-out;
					&:hover{
						transition: 300ms ease-in-out;
						background: #e0e0e0;
					}
					img{
						display: block;
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		.custom-btn-group{
			width: 100%;
			display: flex;
			button{
				border: 1px solid #000;
				padding: 20px 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;
				font-size: 18px;
				font-weight: 600;
				border-radius: 8px;
				cursor: pointer;
				&:not(:last-of-type){
					margin-right: 8px;
				}
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	.text-container{
		width: 220px;
		font-size: 18px;
	}
}

@media screen and (max-width: 768px){
	.text-container{
		width: 220px;
		font-size: 16px;
		min-height: 3rem;
	}
}