body {
	overflow: hidden;
	margin: 0;
}
#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
}

#container_ui_top{
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container_ui_bottom{
	position: fixed;
	bottom: 10px;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
}
#container_ui_bottom .__icon{
	border-right: 1px solid black;
}
#container_ui_bottom .__icon:last-of-type{
	border-right: none;
}
.__icon{
	font-size: 15px;
	color: black;
	width: fit-content;
	padding: 0px 20px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.__lifes{
	display: flex;
	gap: 5px;
}

.__lifes span{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url("./images/life.png") 100% 100%/cover no-repeat;
}
.modal {
	display: none;
	position: fixed;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	min-width: 310px;
	transition: 0.5s;
}
  
  .modal p {
	margin: 0;
  }
  
  .modal.show {
	display: block;
  }