html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	overflow: hidden;
	margin: 0;
}

.type1{
	overflow: hidden;
	position: fixed;
	pointer-events: none;
}

#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
}

#container_ui_top{
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container_ui_bottom{
	position: fixed;
	bottom: 20px;
	left: 20px;
}

#container_ui_bottom .__icon{
	display: block;
	width: 78px;
	height: 78px;
}

@media screen and (max-width: 768px){
	#container_ui_top{
		position: fixed;
		top: 10px;
		right: 10px;
	}
	
	#container_ui_bottom{
		position: fixed;
		bottom: 10px;
		left: 10px;
	}

	#container_ui_bottom .__icon{
		width: 48px;
		height: 48px;
	}
}

#container_ui_bottom .__icon img{
	display: block;
	width: 100%;
	height: 100%;
}

.__icon{
	width: fit-content;
	padding: 0px 20px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.__lifes{
	display: flex;
	gap: 5px;
}

.__lifes span{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url("./images/life.png") 100% 100%/cover no-repeat;
	transition: 300ms ease-in-out;
}

.__lifes span.active{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url("./images/life.png") 100% 100%/cover no-repeat;
	-webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  	filter: brightness(0%) drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 black);
}

.modal {
	display: none;
	position: fixed;
	z-index: 4;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	min-width: 310px;
	transition: 0.5s;
}
  
  .modal p {
	margin: 0;
	line-height: 135%;
  }
  
  .modal.show {
	display: block;
  }