html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.type1{
	overflow: hidden;
	position: fixed;
	pointer-events: none;
}

#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
}

#container_ui_top{
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container_ui_bottom{
	position: fixed;
	bottom: 20px;
	left: 20px;
}

#container_ui_bottom .__info{
	display: block;
	width: 78px;
	height: 78px;
	position: relative;
}

#container_ui_bottom .__info img{
	display: block;
	width: 100%;
	height: 100%;
}

.__info-container{
	display: none;
	position: absolute;
	width: max(30vw, 250px);
	height: auto;
	background: rgba(41, 41, 41, 0.5);
    backdrop-filter: blur(4px);
	bottom: 100%;
	left: 0;
	border-radius: 15px;
	padding: 20px;
	color: white;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: -0.03em;
	line-height: 150%;
}

.loading{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading.hide{
	transform: translateY(100%);
	transition: 1s ease-in-out;
}

.__info-container::before{
	width: 2px;
	height: 10px;
	content: " ";
	visibility: visible;
	position: absolute;
	border-style: solid;
	border-width: 10px;
	z-index: 99;
	top: calc(100% - 0.1px);
	left: 28px;
	border-color:rgba(41, 41, 41, 0.5) transparent  transparent  transparent;
	backdrop-filter: blur(4px);
}

.__info-container.active{
	display: block;
}

.__info-container .__inner{
	display: block;
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}
.__info-container .__inner img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.__info-container b{
	font-weight: 700;
}

.__icon{
	width: fit-content;
	padding: 0px 20px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.__lifes{
	display: flex;
	gap: 5px;
}

.__lifes span{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url("./images/life.png") 100% 100%/cover no-repeat;
	transition: 300ms ease-in-out;
}

.__lifes span.active{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url("./images/life.png") 100% 100%/cover no-repeat;
	-webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  	filter: brightness(0%) drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 black);
}

.modal {
	display: none;
	position: fixed;
	z-index: 4;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	font-weight: 500;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	min-width: 310px;
	transition: 0.5s;
}
  
.modal p {
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	line-height: 135%;
}

.modal p b{
	font-weight: 600;
}
  
.modal.show {
	display: block;
}

#container_ui_right{
	display: none;
	position: fixed;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px 10px;
	background-color: rgba(255, 255, 255, 0.3);
	width: fit-content;
	height: fit-content;
	border-radius: 15px;
}

#container_ui_right .btn-container{
	display: flex;
	justify-content: flex-end;
	padding-right: 10px;
	margin-bottom: 10px;
}

#container_ui_right .btn-container img{
	display: block;
	width: 50px;
	height: 50px;
	object-fit: cover;
	cursor: pointer;
}

#container_ui_right .__grid{
	display: grid;
	background-color: rgba(255, 255, 255, 0.3);
	width: 300px;
	height: 300px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px;
	border-radius: 15px;
	overflow: hidden;
}

#container_ui_right.active{
	display: block;
}

#container_ui_right .__grid span{
	grid-column: span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	cursor: pointer;
}

#container_ui_right .__grid span .mushroom{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url("./images/life.png") 100% 100%/cover no-repeat;
	pointer-events: none;
}
  


#container_ui_right .__grid span:hover{
	border: 2px solid rgb(205, 204, 204);
}

.__intro{
	display: none;
	color: #000;
	font-size: 22px;
	font-weight: 500;
	line-height: 135%;
	position: absolute;
	z-index: 1;
	top: 30%;
	left: max(7.8125vw , 20px);
	text-align: left;
	width: 300px;
	min-height: 4rem;
	height: auto;
	background: #fff;
	padding: 20px;
	border-radius: 25px;
	transform-origin: center;
}

.__intro.end{
	animation: small 0.4s ease-in-out forwards;
}

@keyframes small {
	0%{
		scale: 1;
	}
	100%{
		scale: 0;
	}
}

.ui-btns{
	position: fixed;
	right: 30%;
	bottom: 20px;
	z-index: 2;
	display: none;
	opacity: 0;
}

.ui-btns.active{
	display: flex;
	opacity: 1;
	transition: 0.3s opacity;
}

.ui-btns .arrow .btn{
	display: block;
	width: 42px;
	height: 42px;
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	background-color: crimson;
	color: white;
	cursor: pointer;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ui-btns .arrow .btn:hover{
	transform: translateY(-5px);
	transition: 0.4s ease-in-out;
}

.ui-btns .arrow .btn.up img{
	display: block;
	width: 100%;
	height: 100%;
}

.ui-btns .arrow .btn.down img{
	transform: rotateX(180deg);
	display: block;
	width: 100%;
	height: 100%;
}

.ui-btns .jump{
	width: 90px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 12px;
	border-radius: 15px;
	background: crimson;
	color: white;
	margin-left: 20px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.dice-display{
	display: none;
	/* width: 100px;
	height: 100px; */
	background: #fff;
	color: #000;
}

@media screen and (max-width: 1024px) {
	.__intro{
		width: 150px;
		font-size: 18px;
	}
	.modal p {
		margin: 0;
		font-size: 18px;
		line-height: 135%;
	}
}

@media screen and (max-width: 768px){
	#container_ui_top{
		position: fixed;
		top: 10px;
		right: 10px;
	}
	
	#container_ui_bottom{
		position: fixed;
		bottom: 10px;
		left: 10px;
	}

	#container_ui_bottom .__info{
		width: 48px;
		height: 48px;
	}
}